.classpath
.project
.gradle/*
.gitignore.swp
.settings/*
.idea/*
build/*
bin/*
out/*

producer/.gradle/*
producer/.idea/*
producer/build/*
producer/out/*

consumer/.gradle/*
consumer/.idea/*
consumer/build/*
consumer/out/*
